SmartPlayer/Service References/PlayerService/MPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUser">
        <s:complexType />
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindSong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="album" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="artist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindSongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindArtistId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="artist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindArtistIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindArtistIdResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindAlbumId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="alubm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindAlbumIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindAlbumIdResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSongId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="song" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSongIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindSongIdResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="FindSongSoapIn">
    <wsdl:part name="parameters" element="tns:FindSong" />
  </wsdl:message>
  <wsdl:message name="FindSongSoapOut">
    <wsdl:part name="parameters" element="tns:FindSongResponse" />
  </wsdl:message>
  <wsdl:message name="FindArtistIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindArtistId" />
  </wsdl:message>
  <wsdl:message name="FindArtistIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindArtistIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindAlbumIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindAlbumId" />
  </wsdl:message>
  <wsdl:message name="FindAlbumIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindAlbumIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindSongIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindSongId" />
  </wsdl:message>
  <wsdl:message name="FindSongIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindSongIdResponse" />
  </wsdl:message>
  <wsdl:portType name="MpServiceSoap">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSong">
      <wsdl:input message="tns:FindSongSoapIn" />
      <wsdl:output message="tns:FindSongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindArtistId">
      <wsdl:input message="tns:FindArtistIdSoapIn" />
      <wsdl:output message="tns:FindArtistIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindAlbumId">
      <wsdl:input message="tns:FindAlbumIdSoapIn" />
      <wsdl:output message="tns:FindAlbumIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSongId">
      <wsdl:input message="tns:FindSongIdSoapIn" />
      <wsdl:output message="tns:FindSongIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MpServiceSoap" type="tns:MpServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSong">
      <soap:operation soapAction="http://tempuri.org/FindSong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindArtistId">
      <soap:operation soapAction="http://tempuri.org/FindArtistId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAlbumId">
      <soap:operation soapAction="http://tempuri.org/FindAlbumId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSongId">
      <soap:operation soapAction="http://tempuri.org/FindSongId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MpServiceSoap12" type="tns:MpServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSong">
      <soap12:operation soapAction="http://tempuri.org/FindSong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindArtistId">
      <soap12:operation soapAction="http://tempuri.org/FindArtistId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAlbumId">
      <soap12:operation soapAction="http://tempuri.org/FindAlbumId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSongId">
      <soap12:operation soapAction="http://tempuri.org/FindSongId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MpService">
    <wsdl:port name="MpServiceSoap" binding="tns:MpServiceSoap">
      <soap:address location="http://localhost:55573/MPService.asmx" />
    </wsdl:port>
    <wsdl:port name="MpServiceSoap12" binding="tns:MpServiceSoap12">
      <soap12:address location="http://localhost:55573/MPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>